@keyframes slideBottom 
{
    from
    {
        transform: translateY(-100%);
        opacity: 0;
    }
    to
    {
        transform: translateY(0%);
        opacity: 1;
    } 
}

body
{
    background: linear-gradient(to right, #000 30%, #160038);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

#Content
{
    margin: auto;
    margin-top: 3%;
    width: 1000px;
    height: 500px;
    text-align: center;
}

#Register
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #dedede;
    width: 300px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
    border:solid 1px rgb(91, 0, 228);
    border-radius: 10px;
    -webkit-box-shadow: 20px 18px 32px -9px rgb(0, 0, 0);
    -moz-box-shadow: 20px 18px 32px -9px rgb(0, 0, 0);
    box-shadow: 20px 18px 32px -9px rgba(0, 0, 0, 1);
    animation-name: slideBottom;
    animation-timing-function: ease-in-out;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

footer
{
    width: 10%;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 20px;
    left: 45.2%;
    opacity: 0.1;
}

/*Inputy*/

.inputRegister
{
    width: 96%;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border:solid 1px rgb(91, 0, 228);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

input:hover
{
    background-color: #040404;
}


#registerBtn
{
    background-color: seagreen;
    border-radius: 5px;
    border: solid 1px rgb(25, 73, 46);
    padding: 5px;
    color: #fff;
    width: 45%;
    font-size: 15px;
    transition: transform 0.5s, background-color 0.5s;
}

#registerBtn:hover
{
    cursor: pointer;
    background-color:rgb(25, 73, 46);
    transform: scale(110%);
}

/*Spany*/

#textColorPuprle
{   
    color: rgb(67, 0, 167);
}

.errorSpan
{
    color: rgb(200, 0, 0);
}